:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #10141e;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #161d2f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

button {
  width: 120px;
  margin-bottom: 10px;
}

.credentials {
  font-size: 0.8rem;
  text-align: center;
}

.credentials a {
  text-decoration: none;
  color: #fc4747;
  opacity: 80%;
}

.credentials a:visited {
  color: #fc4747;
}
