<div>
  <div class="welcome-container">
    <h1>Welcome to myFlix</h1>
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      color="primary"
    >
      Sign Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()" color="primary">
      Login
    </button>

    <p class="text-demo">
      or view as a <span class="demo" (click)="loginAsGuest()">demo</span>
    </p>
  </div>
  <div class="credentials">
    <p>
      Coded by
      <a href="https://github.com/margaux-works" target="blank">Margaux</a>
    </p>
  </div>
</div>
