.mat-mdc-card {
  background-color: #161d2f;
  display: flex;
  flex-direction: column;
  width: 700px;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.mat-mdc-card-header {
  display: flex;
  flex-direction: column;
}
.mdc-card__media {
  max-width: 600px;

  @media only screen and (max-width: 600px) {
    max-width: 400px;
  }
}

p {
  max-width: 600px;
  @media only screen and (max-width: 600px) {
    max-width: 400px;
  }
}

.back-to {
  margin-left: 2rem;
}

.movie-tag {
  display: flex;
  flex-direction: row;
}

.tag {
  background-color: #6c7ccc;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.tag:hover {
  background-color: #343c8c;
}
