.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}

.nav_title {
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #fc4747;
}

.button-nav {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #fc4747;
}
