@use "@angular/material" as mat;

// Core styles for Angular Material
@include mat.core();

// Define primary and accent palettes
$dark-primary-palette: mat.define-palette(mat.$indigo-palette);
$dark-accent-palette: mat.define-palette(mat.$teal-palette, A200, A100, A400);
$dark-warn-palette: mat.define-palette(mat.$red-palette);

// Define the dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary-palette,
      accent: $dark-accent-palette,
      warn: $dark-warn-palette,
    ),
  )
);

// Apply theme styles to all components
@include mat.all-component-themes($dark-theme);

// Global styling
html,
body {
  height: 100%;
  margin: 0;
  background-color: #10141e; // Dark background for the entire app
  color: #e0e0e0; // Light text for better contrast
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//$primary: #fc4747;
//$body-bg: #10141e;
//$body-secondary-color-bg: #161d2f;
//$body-color: #ffffff;
//$link-color: $primary;
