.mat-mdc-card {
  background-color: #10141e;
  padding: 1rem;
}

.custom-title {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.mat-mdc-card-subtitle {
  font-size: 0.9rem;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.favorite-title {
  padding-bottom: 1rem;
}

.back-to-container {
  margin: 1rem 1rem;
}

.favorite-movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movie-card {
  width: 300px;
  background-color: #161d2f;
}

@media (max-width: 768px) {
  .favorite-movies-container {
    flex-direction: column;
    align-items: center;
  }

  .movie-card {
    width: 100%;
  }
}
